@import 'fonts';
@import 'colors';
.header {
  font-family: $header;
  background: -webkit-linear-gradient(left, red, yellow);
  background: -o-linear-gradient(right, red, yellow);
  background: -moz-linear-gradient(right, red, yellow);
  background: linear-gradient(to right, red, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 70px;
  text-align: center;
}